<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mis.tripioneer" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".place"
            android:label="@string/title_activity_place" >

        </activity>
        <activity
            android:name=".ChannelMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".Recommendation"
            android:label="@string/title_activity_recommendation" >

        </activity>
        <activity
            android:name=".Trip"
            android:label="@string/title_tripioneer_tour_listview" >


        </activity>

        <activity
            android:name=".drawer"
            android:label="@string/title_activity_drawer" >
        </activity>

    </application>

</manifest>
